<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Object-based init</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/vendor/dhtmlx/codebase/dhtmlx.css?v=vank3323222212}" />
<link rel="stylesheet" type="text/css" th:href="@{/admin/common.css}" />

<script th:src="@{/vendor/dhtmlx/codebase/dhtmlx.js}"></script>
<script th:src="@{/vendor/jquery/jquery-1.11.1.min.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/jquery.form.min.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/json2/json2.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/admin/js/common.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>

<script th:src="@{/erp/js/popup/dataPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formProductPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formEmployeePopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formPublicAddressPopup.js}"></script>

<script th:src="@{/erp/js/popup/grid/cellPopup.js}"></script>
<script th:src="@{/erp/js/popup/grid/productCell.js}"></script>



<script th:src="@{/erp/js/data/dataGrid.js}"></script>
<script th:src="@{/erp/js/data/dateRangeGrid.js}"></script>
<script th:src="@{/erp/js/data/dataForm.js}"></script>



<script th:src="@{/admin/js/product/eventGrid.js}"></script>
<script th:src="@{/admin/js/product/productGrid.js}"></script>
<script th:src="@{/admin/js/product/productForm.js}"></script>


<script th:src="@{/admin/js/product/productItem.js}"></script>

<script th:src="@{/admin/js/imageItem/imageItem.js}"></script>
<script th:src="@{/admin/js/imageItem/imageItemForm.js}"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<style>
.validate_magenta .dhxform_label, .validate_magenta .dhxform_select {
	color: magenta !important;
}

.dhxtabbar_base_dhx_web div.dhxtabbar_tabs {
	background-color: #ED878A;
}

.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab {
	background-color: #2589ce;
	border-left: 2px solid #ED878A;
	border-right: 2px solid #ED878A;
}
</style>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	var imageUrl = /*[[@{/vendor/dhtmlx/codebase/imgs/}]]*/"../../../codebase/imgs/";

	var grid;
	var tabbar;

	var days = 7;

	var gridMap = {};
	function doOnLoad() {

		var layout = new dhtmlXLayoutObject({
			parent : document.body,
			pattern : "2U"
		});

		layout.cells("a").hideHeader();  
		layout.cells("b").hideHeader();  

		var grid = new ReportGrid();
		grid.addProgressCell('a', layout.cells("a"));
		grid.init(layout.cells('a'), {
			iconsPath : "../img/18/",
			imageUrl : imageUrl
		});
		
		grid.setOnRowSelect(function(id, ind) {
 
			form.load(id);

		});
		
		var form = new DisposalForm();
		
		form.addProgressCell('b', layout.cells("b"));
		form.init(layout.cells('b'), {
			iconsPath : "../img/18/",
			imageUrl : imageUrl
		});
	}

	function ReportGrid(config) {
		DateRangeGrid.call(this);

		this.setUrlPrefix('disposal');
		
		this.excelTitle = "무단 폐기";

		this.setSelectFilterData('onlineKind', [ 'Online', 'Offline' ]);

	}
	ReportGrid.prototype = Object.create(DateRangeGrid.prototype);
	ReportGrid.prototype.constructor = ReportGrid;

	ReportGrid.prototype.init = function(container, config) {

		this.initToolbar(container, {
			iconsPath : config.iconsPath,
			xml : "xml/disposal/toolbar.xml",
		});

		this.initGrid(container, {
			imageUrl : config.imageUrl,
			xml : "xml/disposal/grid.xml",
		}, 'server');

	};

	ReportGrid.prototype.onInitedGrid = function(grid) {

		DateRangeGrid.prototype.onInitedGrid.call(this, grid);
 
	}; 

	ReportGrid.prototype.onAfterLoadRow = function(result) {
		DateRangeGrid.prototype.onAfterLoadRow.call(this, result);
	}
	
	
	function DisposalForm() {

		DataForm.call(this);

		this.setUrlPrefix('disposal');

		var me = this;

		this.id = 0; 
	}

	DisposalForm.prototype = Object.create(DataForm.prototype);
	DisposalForm.prototype.constructor = DisposalForm;
	
	DisposalForm.prototype.init = function(container) {
		this.initToolbar(container, {
			iconsPath : "../img/18/",
			xml : 'xml/disposal/formToolbar.xml',
		}); 

		this.initForm(container, {
			xml : 'xml/disposal/form.xml',
		}); 

	}
	
	DisposalForm.prototype.onClickAdded = function() {
        DataForm.prototype.onClickAdded.call(this);
        this.form.setItemValue('date', new Date().format("yyyy-MM-dd hh:mm:ss") );
        this.form.setItemValue('content', ' ' );
        this.form.setItemFocus('name');
    };
    
    DisposalForm.prototype.onInitedForm = function(form) {
        DataForm.prototype.onInitedForm.call(this, form);

        var me = this;

        $(form.getInput('exhaustDate')).attr('autocomplete', 'off'); 

        this.addEmployeeCell('employeeName').setFieldMap({
            employee : {
                name : 'uuid',
                required : true
            },
            employeeName : {
                name : 'name',
                
            }, 
        }).setOnSuccessed(function(data){
            console.log(data);
            
            form.setItemValue('state', 'DS0001');
        });
        
        this.addEmployeeCell('receiptEmployeeName').setFieldMap({
            receiptEmployee : {
                name : 'uuid',
                required : true
            },
            receiptEmployeeName : {
                name : 'name',
                
            }, 
        }).setOnSuccessed(function(data){
            console.log(data);
            
            form.setItemValue('state', 'DS0002');
        });
        
        this.addEmployeeCell('completeEmployeeName').setFieldMap({
            completeEmployee : {
                name : 'uuid',
                required : true
            },
            completeEmployeeName : {
                name : 'name',
                
            }, 
        }).setOnSuccessed(function(data){
            console.log(data);
            form.setItemValue('state', 'DS0003');
        });
        
        this.addPublicAddressCell('address').setFieldMap({
            address : {
                name : 'address',
                required : true
            },
        });
    }

	/*]]>*/
</script>
</head>
<body onload="doOnLoad();"></body>
</html>