<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Object-based init</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css" th:href="@{/vendor/dhtmlx/codebase/dhtmlx.css?v=vank3323222212}" />
<link rel="stylesheet" type="text/css" th:href="@{/admin/common.css}" />

<script th:src="@{/vendor/dhtmlx/codebase/dhtmlx.js}"></script>
<script th:src="@{/vendor/jquery/jquery-1.11.1.min.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/jquery.form.min.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/json2/json2.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/admin/js/common.js}" src="vendor/jquery/jquery-1.11.1.min.js"></script>

<script th:src="@{/erp/js/popup/dataPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formProductPopup.js}"></script>

<script th:src="@{/erp/js/popup/grid/cellPopup.js}"></script>
<script th:src="@{/erp/js/popup/grid/productCell.js}"></script>



<script th:src="@{/erp/js/data/dataGrid.js}"></script>
<script th:src="@{/erp/js/data/dataForm.js}"></script>



<script th:src="@{/admin/js/product/eventGrid.js}"></script>
<script th:src="@{/admin/js/product/productGrid.js}"></script>
<script th:src="@{/admin/js/product/productForm.js}"></script>


<script th:src="@{/admin/js/product/productItem.js}"></script>

<script th:src="@{/admin/js/imageItem/imageItem.js}"></script>
<script th:src="@{/admin/js/imageItem/imageItemForm.js}"></script>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<style>
.validate_magenta .dhxform_label, .validate_magenta .dhxform_select {
	color: magenta !important;
}

.dhxtabbar_base_dhx_web div.dhxtabbar_tabs {
	background-color: #ED878A;
}

.dhxtabbar_base_dhx_web div.dhxtabbar_tabs div.dhxtabbar_tab {
	background-color: #2589ce;
	border-left: 2px solid #ED878A;
	border-right: 2px solid #ED878A;
}
</style>

<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/

	var imageUrl = /*[[@{/vendor/dhtmlx/codebase/imgs/}]]*/"../../../codebase/imgs/";

	var grid;
	var tabbar;

	var days = 7;

	var gridMap = {};
	function doOnLoad() {

		var layout = new dhtmlXLayoutObject({
			parent : document.body,
			pattern : "2U"
		});

		layout.cells("a").hideHeader();
		layout.cells("b").setWidth(520);
		layout.cells("b").setText("품목 등록");

		tabbar = layout.cells('b').attachTabbar({
			tabs : [ {
				id : "a1",
				text : "품목 정보",
				active : true
			}, ]
		});

		var grid = new ProductGrid();
		grid.addProgressCell('a', layout.cells("a"));
		grid.init(layout.cells('a'), {
			iconsPath : "../img/18/",
			imageUrl : imageUrl
		}); 

		grid.setOnRowSelect(function(rowId) { 
		});

		var form = new ProductForm();

		form.setGrid(grid);

		form.init(tabbar.cells("a1"));
		form.addProgressCell('layout2', tabbar.cells("a1"));

		form.setOnClearListener(function() {
			// grid.clearSelection();
		});

		form.setOnClickToolbarButton(function(id, toolbar) {
			if (id == 'btnAdd') {
				grid.clearSelection();
			}
		});

	}

	function ProductGrid(config) {
		DataGrid.call(this);

		this.setUrlPrefix('product');
		
		this.excelTitle = "수수료 관리";

		this.setSelectFilterData('shown', [ '보이기', '숨기기' ]);

	}
	ProductGrid.prototype = Object.create(DataGrid.prototype);
	ProductGrid.prototype.constructor = ProductGrid;

	ProductGrid.prototype.init = function(container, config) {

		this.initToolbar(container, {
			iconsPath : config.iconsPath,
			xml : "xml/product/toolbar.xml",
		});

		this.initGrid(container, {
			imageUrl : config.imageUrl,
			xml : "xml/product/grid.xml",
		});

	};

	ProductGrid.prototype.onInitedGrid = function(grid) {

		DataGrid.prototype.onInitedGrid.call(this, grid);

		// 즉시 로딩
		this.loadRecords();
	};

	ProductGrid.prototype.onBeforeParams = function(param) {
	};

	ProductGrid.prototype.onAfterLoadRow = function(result) {
		DataGrid.prototype.onAfterLoadRow.call(this, result);
	}

	function ProductForm() {

		DataForm.call(this);

		this.setUrlPrefix('product');

		var me = this;

		this.id = 0;
	}

	ProductForm.prototype = Object.create(DataForm.prototype);
	ProductForm.prototype.constructor = ProductForm;

	ProductForm.prototype.onInitedForm = function(form) {
		DataForm.prototype.onInitedForm.call(this, form); 
		
		$.get('product/select/category', function(json){
			form.reloadOptions("category", json);
		});
	}

	ProductForm.prototype.init = function(container) {
		this.initToolbar(container, {
			iconsPath : "../img/18/",
			xml : 'xml/product/formToolbar.xml',
		});

		this.initForm(container, {
			xml : 'xml/product/form.xml',
		});
		
		
	}

	ProductForm.prototype.onBeforeUpdate = function(json) {
		DataForm.prototype.onBeforeUpdate.call(this, json);
		console.log(json);
		return true;
	};

	ProductForm.prototype.onClickAdded = function() {
		DataForm.prototype.onClickAdded.call(this);
		this.form.setItemFocus('name');
	};
 

	/*]]>*/
</script>
</head>
<body onload="doOnLoad();"></body>
</html>