<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<title>Object-based init</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	th:href="@{/vendor/dhtmlx/codebase/dhtmlx.css?v=vank3323222212}" />
<link rel="stylesheet" type="text/css" th:href="@{/admin/common.css}" />

<script th:src="@{/vendor/dhtmlx/codebase/dhtmlx.js}"></script>
<script th:src="@{/vendor/jquery/jquery-1.11.1.min.js}"
	src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/jquery.form.min.js}"
	src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/vendor/json2/json2.js}"
	src="vendor/jquery/jquery-1.11.1.min.js"></script>
<script th:src="@{/admin/js/common.js}"
	src="vendor/jquery/jquery-1.11.1.min.js"></script>

<script th:src="@{/erp/js/popup/dataPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formProductPopup.js}"></script>
<script th:src="@{/erp/js/popup/form/formPublicAddressPopup.js}"></script>

<script th:src="@{/erp/js/popup/grid/cellPopup.js}"></script>
<script th:src="@{/erp/js/popup/grid/productCell.js}"></script>

<script th:src="@{/erp/js/dialog/dialog.js}"></script>

<script th:src="@{/erp/js/data/dataGrid.js}"></script>
<script th:src="@{/erp/js/data/dateRangeGrid.js}"></script>
<script th:src="@{/erp/js/data/dataForm.js}"></script>



<script th:src="@{/admin/js/product/eventGrid.js}"></script>
<script th:src="@{/admin/js/product/productGrid.js}"></script>
<script th:src="@{/admin/js/product/productForm.js}"></script>


<script th:src="@{/admin/js/product/productItem.js}"></script>

<script th:src="@{/admin/js/imageItem/imageItem.js}"></script>
<script th:src="@{/admin/js/imageItem/imageItemForm.js}"></script>


<script th:src="@{/admin/js/product/productSelectorDialog.js}"></script>
<script th:src="@{/admin/js/product/productSelector.js}"></script>

<script
	src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<style>
.validate_magenta .dhxform_label, .validate_magenta .dhxform_select {
	color: magenta !important;
}
</style>

<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/

    var imageUrl = /*[[@{/vendor/dhtmlx/codebase/imgs/}]]*/"../../../codebase/imgs/";

    var grid;
    var tabbar;

    var days = 7;
    var taxRate = 10;
    var scale = 0;
    var round = ROUND_ROUND;

    var gridMap = {};

    function doOnLoad() {

        var layout = new dhtmlXLayoutObject({
            parent : document.body,
            pattern : "1C"
        });

        layout.cells("a").hideHeader();

        tabbar = layout.cells('a').attachTabbar({
            tabs : [ {
                id : "a1",
                text : "신청 정보",
                active : true
            }, ]
        });

        var form = new RequestForm();

        form.setOnSuccessedUpdateEvent(function(result) {
        });

        form.setOnSuccessedRemoveEvent(function(result) {
        });

        form.init(tabbar.cells("a1"));
        form.addProgressCell('layout2', tabbar.cells("a1"));

        form.setOnClearListener(function() {
            // grid.clearSelection();
        });

        form.setOnClickToolbarButton(function(id, toolbar) {
            if (id == 'btnAdd') {
            }
        });

    }

    function RequestGrid(config) {
        DateRangeGrid.call(this);

        this.setUrlPrefix('request');

        this.excelTitle = "배출 관리";

        this.setSelectFilterData('shown', [ '보이기', '숨기기' ]);
        this.setSelectFilterData('state', [ '수거 대기', '완료 대기', '수거 완료', '거부 대기',
                '수거 거부', '취소 대기', '배출 취소', '입금 대기', '미배출', '기간 경과' ]);

    }
    RequestGrid.prototype = Object.create(DateRangeGrid.prototype);
    RequestGrid.prototype.constructor = RequestGrid;

    RequestGrid.prototype.init = function(container, config) {

        this.initToolbar(container, {
            iconsPath : config.iconsPath,
            xml : "xml/request/toolbar.xml",
        });

        this.initGrid(container, {
            imageUrl : config.imageUrl,
            xml : "xml/request/grid.xml",
        });

    };

    RequestGrid.prototype.onInitedGrid = function(grid) {

        DateRangeGrid.prototype.onInitedGrid.call(this, grid);
    };

    RequestGrid.prototype.onAfterLoadRow = function(result) {
        DateRangeGrid.prototype.onAfterLoadRow.call(this, result);
    }

    function RequestForm() {

        DataForm.call(this);

        this.setUrlPrefix('request');

        var me = this;

        this.id = 0;

        this.detailGrid;

        this.past = true;
    }

    RequestForm.prototype = Object.create(DataForm.prototype);
    RequestForm.prototype.constructor = RequestForm;

    RequestForm.prototype.onInitedForm = function(form) {
        DataForm.prototype.onInitedForm.call(this, form);

        var me = this;

        $(form.getInput('exhaustDate')).attr('autocomplete', 'off');

        // phone
        var phoneOld = '';
        form.attachEvent("onKeyUp", function(inp, ev, name, value) {
            
            if( name != 'phone')
                return;
            
            if (  ev.key >= 0 && ev.key <= 9) {
                phoneOld = $(inp).val();
            }
            else{
                $(inp).val(phoneOld);
            }
            
        });

        var dhxCalendar = form.getCalendar('exhaustDate');
        var now = new Date();
        dhxCalendar.setSensitiveRange(new Date(now.setDate(now.getDate() + 1)),
                null);

        if (this.past == false) {
            var dhxCalendar = form.getCalendar("exhaustDate");
            dhxCalendar.setSensitiveRange(new Date(), null);
        }

        this.addPublicAddressCell('address').setFieldMap({
            address : {
                name : 'address'
            },
            postNumber : {
                name : 'postNumber',
                required : true
            },
            dong : {
                name : 'dong'
            },
            posX : {
                name : 'posX'
            },
            posY : {
                name : 'posY'
            },
            siNm : {
                name : 'siNm'
            },
            sggNm : {
                name : 'sggNm'
            }
        }).setNextFocus('addressDetail').setOnSuccessed(function(data) {
            console.log(data);
            $.get('request/checkAddr', {
                dong : data.dong
            }, function(result) {
                if (result.error) {
                    dhtmlx.alert({
                        title : "유효하지 않는 지역입니다!",
                        type : "alert-error",
                        text : "본 서비스의 관할지역이 아닙니다."
                    });

                    me.setData('dong', '');
                    me.setData('address', '');
                    me.setData('postNumber', '');
                    me.setData('posX', '');
                    me.setData('posY', '');
                }
            });

            $.get('request/area', {
                dong : data.dong
            }, function(json) {
                form.reloadOptions("area", json);
            });

        });
    }

    RequestForm.prototype.init = function(container) {
        this.initToolbar(container, {
            iconsPath : "../img/18/",
            xml : 'xml/request/formToolbar3.xml',
        });

        var layout = container.attachLayout('2E');

        layout.cells('a').hideHeader();
        layout.cells('b').hideHeader();
        layout.cells('a').setHeight(250);

        this.initForm(layout.cells('a'), {
            xml : 'xml/request/form2.xml',
        });

        this.detailGrid = new RequestDetail();
        this.detailGrid.init(layout.cells('b'), {
            iconsPath : "../img/18/",
            imageUrl : imageUrl
        });

    }

    RequestForm.prototype.onBeforeUpdate = function(json) {
        DataForm.prototype.onBeforeUpdate.call(this, json);

        json.details = this.detailGrid.toJson();

        console.log(json);

        return true;
    };

    RequestForm.prototype.onClickAdded = function() {
        DataForm.prototype.onClickAdded.call(this);
        this.form.setItemFocus('name');
    };

    RequestForm.prototype.onAfterLoaded = function(result) {
        DataForm.prototype.onAfterLoaded.call(this, result);
        this.detailGrid.clear();

        console.log(result);

        var me = this;
        $.get('request/area', {
            dong : result.dong
        }, function(json) {
            me.form.reloadOptions("area", json);
            me.form.setItemValue("area", result.data.area.code);
        });

    };

    RequestForm.prototype.clear = function() {

        DataForm.prototype.clear.call(this);

        this.detailGrid.clear();
    };

    RequestForm.prototype.onClickToolbarButton = function(id, toolbar) {

        if (id == 'btnInvoice') {

            if (this.id == undefined || this.id == 0) {
                dhtmlx.alert({
                    title : "배출증을 출력할 수 없습니다.",
                    type : "alert-error",
                    text : "먼저 배출내용을 저장해야합니다."
                });
                return;
            } else {

                var printWindow = window.open("../tool/printAll5.do?str="
                        + this.id, "print");

            }

        }

        return DataForm.prototype.onClickToolbarButton.call(this, id, toolbar);
    }

    function RequestFormDialog(x, y) {
        FormDialog.call(this, "requestFormDialog", "배출 신청", 520, 700, x, y);
        this.form = new RequestForm();
        this.form.past = false;

        var me = this;
        this.form.setOnSuccessedUpdateEvent(function() {
            me.close();
        });

    };

    RequestFormDialog.prototype = Object.create(FormDialog.prototype);
    RequestFormDialog.prototype.constructor = RequestFormDialog;

    RequestFormDialog.prototype.onInitedForm = function(form) {
        FormDialog.prototype.onInitedForm.call(this, form);
    };

    var requestDlg = new RequestFormDialog();

    function RequestDetail(config) {
        DataGrid.call(this, config);

        this.setUrlPrefix('request/detail');

        this.enableUpdate = false;

        /*this.setNumberFormats([ {
            format : config.format.amount,
            columns : [ 'unitPrice' ],
            beforeAbs : true,
            afterAbs : true,
        }, {
            format : config.format.qty,
            columns : [ 'qty' ],
            beforeAbs : true,
            afterAbs : true,
        } ]);*/

        var me = this;

        this.productSelDlg = new ProductSelectorDialog();
        this.productSelDlg
                .setOnCloseEventListener(function() {

                    var data = me.productSelDlg.getCheckedRowDatas();
                    var d = new Date();
                    var n = d.getTime() * -1;

                    var qtyIdx = me.grid.getColIndexById("qty");
                    var totalIdx = me.grid.getColIndexById("total");

                    data
                            .forEach(function(item, idx) {

                                var rowId = null;
                                for (var rowIdx = 0; rowIdx < me.grid
                                        .getRowsNum(); ++rowIdx) {

                                    var rowID = me.grid.getRowId(rowIdx);

                                    var itemId = me.grid.getUserData(rowID,
                                            "item");

                                    if (itemId == item.id) {
                                        rowId = rowID;
                                        console.log("rowID   " + rowID);
                                        break;
                                    }
                                }

                                console.log(rowId);

                                if (rowId == null) {
                                    item.data.qty = 1;
                                    item.data.total = item.data.unitPrice;
                                    item.data.item = item.id;

                                    me.addRow(n--, item.data, null, true);
                                } else {

                                    var qty = Number(me.grid.cells(rowId,
                                            qtyIdx).getValue()) + 1;
                                    me.grid.cells(rowId, qtyIdx).setValue(qty);
                                    me.grid.cells(rowId, totalIdx).setValue(
                                            qty * item.data.unitPrice);

                                }
                            });
                });

        this.insertFocusField = 'name';
    }
    RequestDetail.prototype = Object.create(DataGrid.prototype);
    RequestDetail.prototype.constructor = RequestDetail;

    RequestDetail.prototype.onInitedGrid = function(grid) {
        DataGrid.prototype.onInitedGrid.call(this, grid);
        var me = this;

        this.addProductCell('name', false).setFieldMap({
            name : {
                name : 'name',
            },

            item : {
                name : 'item',
                required : true
            },
            unitPrice : {
                name : 'unitPrice',
            }

        }).setNextFocus('qty').setOnSuccessed(function(data) {
            console.log(data);

            var rId = me.getSelectedRowId();
            me.setData('item', data.code, rId);

            me.onUpdatedQty(rId, 1);

            return true;
        });

        
        var aligns = [ "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;", "text-align:right;" ];

        grid.attachFooter(",#cspan,#cspan,#cspan,#cspan,<div id='fDetailSum'>0</div>",aligns);
        

        this.updateFooter();
        
        grid.clearAll();
    };
    
    RequestDetail.prototype.updateFooter = function() {  
        
        var sum = 0;
        for (var i = 0; i < this.grid.getRowsNum(); i++) {            
            sum += Number( this.grid.cells2(i, 5).getValue() );             
        } 
        
        $("#fDetailSum").text(sum);
    }
    
    RequestDetail.prototype.onAfterEditCell = function(stage, rId, colId, nValue, oValue) {
        DataGrid.prototype.onAfterEditCell.call(this, stage, rId, colId, nValue, oValue);
        this.updateFooter();
    }

    RequestDetail.prototype.onClickToolbarButton = function(id, toolbar) {

        if (id == 'btnAdd') {

            this.productSelDlg.open(true);

            this.productSelDlg.show();
            this.productSelDlg.setModal(true);

            return true;
        }

        return DataGrid.prototype.onClickToolbarButton.call(id, toolbar);

    };

    RequestDetail.prototype.onRowAdded = function(id, data) {
        DataGrid.prototype.onRowAdded.call(this, id, data);
        
        this.updateFooter();
    }

    RequestDetail.prototype.init = function(container, config) {

        this.initToolbar(container, {
            iconsPath : config.iconsPath,
            xml : "xml/request/detailToolbar.xml"
        });

        this.initGrid(container, {
            imageUrl : config.imageUrl,
            xml : "xml/request/detailGrid.xml",
        });

    };

    RequestDetail.prototype.onBeforeParams = function(param) {
        DataGrid.prototype.onBeforeParams.call(this, param);
    };

    function RequestDetailItem(config) {
        DataGrid.call(this, config);

        this.exhaust;
        this.item;
        this.state;

        this.enableUpdate = false;

        var me = this;
    }
    RequestDetailItem.prototype = Object.create(DataGrid.prototype);
    RequestDetailItem.prototype.constructor = RequestDetailItem;

    RequestDetailItem.prototype.onInitedGrid = function(grid) {
        DataGrid.prototype.onInitedGrid.call(this, grid);
        var me = this;
    };

    RequestDetailItem.prototype.onRowAdded = function(id, data) {
        DataGrid.prototype.onRowAdded.call(this, id, data);
    }

    RequestDetailItem.prototype.initState = function(container, config) {

        this.setUrlPrefix('request/detail/state');

        this.initToolbar(container, {
            iconsPath : config.iconsPath,
            xml : "xml/request/itemToolbar.xml"
        });

        this.initGrid(container, {
            imageUrl : config.imageUrl,
            xml : "xml/request/stateGrid.xml",
        });

    };

    RequestDetailItem.prototype.initItem = function(container, config) {

        this.setUrlPrefix('request/detail/item');

        this.initToolbar(container, {
            iconsPath : config.iconsPath,
            xml : "xml/request/itemToolbar.xml"
        });

        this.initGrid(container, {
            imageUrl : config.imageUrl,
            xml : "xml/request/itemGrid.xml",
        });

    };

    RequestDetailItem.prototype.onBeforeParams = function(param) {
        DataGrid.prototype.onBeforeParams.call(this, param);

        param.exhaust = this.exhaust;
        param.item = this.item;
        param.state = this.state;
    };

    /*]]>*/
</script>
</head>
<body onload="doOnLoad();"></body>
</html>